<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "hacknet", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Principal",    root_path %></li>
        <li><%= link_to "Ajuda",    help_path %></li>
        <li><%= link_to "Entrar", '#' %></li>
        <li><%= link_to "Contato",    contact_path %></li>
      </ul>
    </nav>
  </div>
</header>